<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="fragments/adminLayout">

<script type="text/javascript" src="/js/jquery.min.js"></script>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"></meta>
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content" style="width:96%;margin-left:auto;margin-right:auto;">

<script type="text/javascript">
function addQuestionAndOptions(){

	var arrayObj = 
			[{'optionName':'1'},{'optionName':'optionName'}];
			
	var arrayObj = {"options":
			[{'optionName':'1'},{'optionName':'optionName'}]}
	
	
/* 	'question.explain.note':'explain note',
	'questionName':'question name' */
	 alert(JSON.stringify(arrayObj));
	$.ajax({
		type:'POST',
		contentType : "application/json",
		 dataType:"json",  
		url:'addQuestionAndOptions.json',
		data:JSON.stringify(arrayObj),
		success:function(data){
			
		}
	});
}

function addQuestionAndOptions2(){
	var arrayObj = {"options":
			[{"name":"huang"}]}
	$.ajax({
		type:'POST',
		 dataType:"json",  
		url:'addQuestionAndOptions2.html',
		data:JSON.stringify(arrayObj),
		success:function(data){
		
		}
	});
}

function addQuestionAndOptions3(){
	var arrayObj = {'question.explain.note':'explain note',
			'questionName':'question name'}
	$.ajax({
		type:'POST',
		 dataType:"json",  
		url:'addQuestionAndOptions3.json',
		data:JSON.stringify(arrayObj),
		success:function(data){
		
		}
	});
}
</script>
<form action="save.html">
<input type="hidden" name="paperId" th:value="${param.paperId}"></input>
<div>
<dl>
<dd>题干：<textarea rows="" cols="" name="questionName"></textarea></dd>
<dd>选项1：<input name="optionName"></input></dd>
<dd>选项2：<input name="optionName"></input></dd>
<dd>选项3：<input name="question.optioins.optionName"></input></dd>
<dd>选项4：<input name="explain.note"></input></dd>
</dl>

</div>
<input type="button" value="保存" onclick="addQuestionAndOptions()" />
<input type="button" value="下一题" onclick="addQuestionAndOptions2()" />
<input type="button" value="aa" onclick="addQuestionAndOptions3()" />
</form>

</div>
</body>
</html>